@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

div.fractal {
  background: #800080;
  height: 100%;
  width: 100%;
}

div.status {
  width: 100%;
  height: 20px;
  background: #000000;
  color: #00aaff;
  white-space: nowrap;
  font-size: 9pt;
  padding: 2px;
}

div.fractalImg {
  height: 100%;
  width: 100%;
} 

div.fractalImg table {
  height: 100%;
  width: 100%;
} 

div.fractalImg td {
  background-repeat: no-repeat;
}

