<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>FractalGen</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="columns" id="app">
        <div class="column is-one-third">
          <section class="section">
            <h1 class="title">Parameters</h1>
            <section class="form">
              <div class="field">
                <label class="label">X-Min</label>
                <div class="control">
                  <input v-model="form.xMin" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">X-Max</label>
                <div class="control">
                  <input v-model="form.xMax" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Y-Min</label>
                <div class="control">
                  <input v-model="form.yMin" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Y-Max</label>
                <div class="control">
                  <input v-model="form.yMax" class="input" type="text">
                </div>
              </div>

            </section>
            <section class="debug">
              <dl>
                <dt>Cursor</dt>
                <dd>[{{ cursorX }}, {{ cursorY }}]</dd>
                <dt>Coord</dt>
                <dd>[{{ coordX }}, {{ coordY }}]</dd>
              </dl>
            </section>
          </section>
        </div>
        <div class="column is-two-thirds">
          <div id="image">
            <img id="fractal" :src="fractalUrl" alt="Fractal"
              v-on:click="zoomIn" v-on:mousemove="mouseMove"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>

  </body>
</html>
