<!DOCTYPE html>
<html>
  <head>
    <title>FractalGen</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="columns" id="app">
        <div class="column is-one-third">
          <section class="section">
            <h1 class="title">Parameters</h1>
            <section class="form">
              <div class="field">
                <label class="label">X-Min</label>
                <div class="control">
                  <input v-model="form.xmin" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">X-Max</label>
                <div class="control">
                  <input v-model="form.xmax" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Y-Min</label>
                <div class="control">
                  <input v-model="form.ymin" class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Y-Max</label>
                <div class="control">
                  <input v-model="form.ymax" class="input" type="text">
                </div>
              </div>

            </section>
            <section class="debug">
              <ul>
                <li v-for="(item, k) in form">
                  <strong>{{ k }}:</strong> {{ item }}
                </li>
              </ul>
            </section>
          </section>
        </div>
        <div class="column is-two-thirds">
          <div id="image">
            <img :src="fractal_url" alt="Fractal"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>

  </body>
</html>
